
.page {
  background-image: url(/tc-juspuzzle/filexplorer.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.puzzle .cell {
  font-size: 20px;
  user-select: none;
  background-color:white;
  background-image: url(/tc-juspuzzle/lock.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* .puzzle .cell.type1 {
  background-color: #ffff00;
}
.puzzle .cell.type2 {
  background-color: #ff9d00;
}
.puzzle .cell.type3 {
  background-color: #ff0000;
}
.puzzle .cell.type4 {
  background-color: #aa0000;
} */

.puzzle .cell.type1 {
  background-color: #ffff00;
}
.puzzle .cell.type2 {
  background-color: #f48c06;
}
.puzzle .cell.type3 {
  background-color: #ff0000;
}
.puzzle .cell.type4 {
  background-color: #9d0208;
}

.puzzle .cell:focus-visible {
  outline: none;
}
.puzzle .cell:focus {
  /* color: red; */
  background-color: #00ffff;
}

.correct {
  /* background-color: #00ff00; */
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  opacity: 0;
  pointer-events:none;
  scale:4;
  color:#00000000;
  transition-property: opacity, scale;
}

.correct-admin {
  filter: brightness(30%);
}

.incorrect {
  color: black;
}

.puzzle .cell.hasNumber {
  background-image: none;
}

.page {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 30px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.wiggled {
  animation: shake 0.42s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}